.animate.dropDownEntrance{
      animation: dropDownEntrance ease-in-out .5s;
}

.animate.goUpExit{
      animation: goUpExit ease-in-out .5s;
}

.animate.fadeOut{
      animation: fadeOut ease-in-out .5s;
}

.animate.fadeIn{
      animation: fadeIn ease-in-out .5s;
}

.animate.float{
      animation: float ease-in-out 7s infinite;
}

.animate.slideIn{
      animation: slideIn ease-in-out 1s;
}

.animate.turnIn{
      animation: turnIn ease-in-out 1s;
}

@keyframes fadeOut{
      from{
            opacity: 1;
      }
      to{
            opacity: 0;
      }
}

@keyframes fadeIn{
      from{
            opacity: 0;
      }
      to{
            opacity: 1;
      }
}

@keyframes goUpExit{
      from{
            opacity: 1;
            transform: translateY(0%);
      }
      to{
            opacity: 0;
            transform: translateY(-50%);
      }
}
@keyframes dropDownEntrance{
      from{
            transform: translateY(-50%);
            opacity: 0;
      }
      to{
            transform: translateY(0%);
            opacity: 1;
      }
}
@keyframes comeInLeftEntrance{
      from{
            transform: translateX(-25%);
            opacity: 0;
      } to {
            transform: translateX(0%);
            opacity: 1;
      }
}
@keyframes exitToRight{
      from{
            transform: translateX(0%);
            opacity: 1;
      } to {
            transform: translateX(25%);
            opacity: 0;
      }
}
@keyframes menuOpen{
      from{
            height: 0vh;
      }
      to{
            height: 40vh;
      }
}

@keyframes menuClose{
      from{
            height: 40vh;
      }
      to{
            height: 0vh;
      }
}

@keyframes iconChange{
      0%{
            opacity: 1;
      }
      50%{
            opacity: 0;
      }
      to{
            opacity: 1;
      }
}

@keyframes float{
      0%{
            transform: translateY(0%);
      }
      25%{
            transform: translateY(1%);
      }
      75%{
            transform: translateY(-1%);
      }
      100%{
            transform: translateY(0%);
      }
}

@keyframes slideIn{
      from{
            transform: translateX(-30%);
            opacity: 0;
      }
      to{
            transform: translateX(0%);
            opacity: 1;
      }
}

@keyframes turnIn{
      0%{
            transform: rotate3d(1, 0, 0, 90deg);
            opacity: 0;
      }
      40%{
            transform: rotate3d(1, 0, 0, 0deg);
      }
      60%{
            transform: rotate3d(1, 0, 0, 45deg);
      }
      75%{
            transform: rotate3d(1, 0, 0, 0deg);
      }
      85%{
            transform: rotate3d(1, 0, 0, 20deg);
      }
      100%{
            transform: rotate3d(1, 0, 0, 0deg);
            opacity: 1;
      }
}